/string_dan_tanggal/latihan16.php
tes.txt
tes2.txt
nim.txt
/file_dan_direktori/latihan8.php
/file_dan_direktori/latihan9.php
/file_dan_direktori/latihan10.php
/file_dan_direktori/latihan11.php
/file_dan_direktori/latihan12.php
/file_dan_direktori/latihan13.php
/file_dan_direktori/latihan15.php